<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
  <form action = "/getbday" method = "post">
    <p>When is your birthday?</p>
    <p><input type="date" id = "name" name="birthday" value="When is your birthday?"></p>
    <p><input type = "submit" value = "Click here" /></p>
 </form>
 {% if dob %}
    <h2>Birthday Data</h2>
    <p>Your date of birth is: {{dob}}</p>
    <p>Today is: {{today}}</p>
    <p>Your next birthday is: {{next_birthday}}</p>
    <p>Your next birthday will be in : {{days_to_birthday}} days</p>
    <p>You will be {{age}} years old</p>
 {% endif %}
</body>
</html>